.App {
  text-align: center;
  min-height: 100vmax;
}

.product-search {
  line-height: 1.5rem;
}

.products-listing {
  margin: 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.product-card {
  width: 250px;
  padding: 0.5rem 0.5rem 0.25rem;
  border: 3px solid var(--alt-bg-color);
  background: var(--alt-bg-color);
  box-shadow: var(--shadow);
  list-style: none;
}

.product-card h2 {
  margin: 1rem 0;
}

.product-card .image {
  background: var(--main-bg-color);
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid var(--main-text-color);
}

.tags {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tag {
  display: flex;
  align-items: center;
  background-color: var(--hidden-text-color);
  color: white;
  padding: 5px;
  margin: 10px 0;
}

.tag span {
  margin-left: 5px;
}
